* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Inter;
  src: url(../../fonts/Inter-Regular.ttf);
}
@font-face {
  font-family: Sen;
  src: url(../../fonts/Sen-Regular.ttf);
}

.container {
  max-width: 1280px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

header {
  background: var(--Black, #232536);
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 83px;
}
header nav .navbar ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}
header nav .navbar ul li a {
  color: var(--Light, #fff);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
  padding-bottom: 10px;
  border: 2px solid transparent;
}
header nav .navbar ul li a:hover {
  color: #ffbb00;
  transition: 0.3s;
  border-bottom: 2px solid #ffbb00;
  padding-bottom: 10px;
}
header nav .navbar button {
  border: 1px solid black;
  padding: 16px 48px;
  color: var(--Black, #232536);
  font-family: Sen;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 133.333% */
  margin: 13px 0 11px 0;
  cursor: pointer;
}
header nav .navbar button:hover {
  background-color: #ffd050;
  color: #000000;
  transition: 0.3s;
}

.registration .reg-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.registration .reg-content h1 {
  color: #232536;
  text-align: center;
  font-family: Sen;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px; /* 133.333% */
  letter-spacing: -2px;
  margin: 68px 0;
}
.registration .reg-content form {
  display: flex;
  flex-direction: column;
}
.registration .reg-content form input {
  width: 768px;
  height: 76px;
  border-radius: 2px;
  border: 1px solid rgba(109, 110, 118, 0.5);
  font-size: 16px;
  padding: 24px;
  outline: none;
  margin-bottom: 22px;
}
.registration .reg-content form ::-moz-placeholder {
  color: var(--Black, #232536);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
}
.registration .reg-content form ::placeholder {
  color: var(--Black, #232536);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
}
.registration .reg-content form #regForm {
  width: 768px;
  height: 64px;
  background: var(--Yellow, #ffbb00);
  margin: 74px 0 158px 0;
  border: 1px solid transparent;
}
.registration .reg-content form #regForm:hover {
  background-color: #ffd050;
}

footer {
  background: var(--Black, #232536);
}
footer .footer-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 64px 0 54px 0;
}
footer .footer-content .footer-left p {
  color: var(--Light, #fff);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
  opacity: 0.7;
}
footer .footer-content .footer-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}
footer .footer-content .footer-right svg {
  fill: #6d6e76;
}
footer .footer-content .footer-right svg:hover {
  fill: #ffbb00;
  transition: 0.3s;
}

@font-face {
  font-family: Inter;
  src: url(../../fonts/Inter-Regular.ttf);
}
@font-face {
  font-family: Sen;
  src: url(../../fonts/Sen-Regular.ttf);
}

.container {
  max-width: 1280px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

header {
  background: var(--Black, #232536);
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 83px;
}
header nav .navbar ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}
header nav .navbar ul li a {
  color: var(--Light, #fff);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
  padding-bottom: 10px;
  border: 2px solid transparent;
}
header nav .navbar ul li a:hover {
  color: #ffbb00;
  transition: 0.3s;
  border-bottom: 2px solid #ffbb00;
  padding-bottom: 10px;
}
header nav .navbar button {
  border: 1px solid black;
  padding: 16px 48px;
  color: var(--Black, #232536);
  font-family: Sen;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 133.333% */
  margin: 13px 0 11px 0;
  cursor: pointer;
}
header nav .navbar button:hover {
  background-color: #ffd050;
  color: #000000;
  transition: 0.3s;
}

.registration .reg-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.registration .reg-content h1 {
  color: #232536;
  text-align: center;
  font-family: Sen;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px; /* 133.333% */
  letter-spacing: -2px;
  margin: 68px 0;
}
.registration .reg-content form input {
  width: 768px;
  height: 76px;
  border-radius: 2px;
  border: 1px solid rgba(109, 110, 118, 0.5);
  font-size: 16px;
  padding: 24px;
  outline: none;
  margin-bottom: 22px;
}
.registration .reg-content form ::-moz-placeholder {
  color: var(--Black, #232536);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
}
.registration .reg-content form ::placeholder {
  color: var(--Black, #232536);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
}
.registration .reg-content button {
  width: 768px;
  height: 64px;
  flex-shrink: 0;
  background: var(--Yellow, #ffbb00);
  margin: 74px 0 158px 0;
  border: 1px solid transparent;
}
.registration .reg-content button:hover {
  background-color: #ffd050;
}

footer {
  background: var(--Black, #232536);
}
footer .footer-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 64px 0 54px 0;
}
footer .footer-content .footer-left p {
  color: var(--Light, #fff);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
  opacity: 0.7;
}
footer .footer-content .footer-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}
footer .footer-content .footer-right svg {
  fill: #6d6e76;
}
footer .footer-content .footer-right svg:hover {
  fill: #ffbb00;
  transition: 0.3s;
}

@font-face {
  font-family: Inter;
  src: url(../../fonts/Inter-Regular.ttf);
}
@font-face {
  font-family: Sen;
  src: url(../../fonts/Sen-Regular.ttf);
}

.container {
  max-width: 1280px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

header {
  background: var(--Black, #232536);
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 83px;
}
header nav .navbar ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}
header nav .navbar ul li a {
  color: var(--Light, #fff);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
  padding-bottom: 10px;
  border: 2px solid transparent;
}
header nav .navbar ul li a:hover {
  color: #ffbb00;
  transition: 0.3s;
  border-bottom: 2px solid #ffbb00;
  padding-bottom: 10px;
}
header nav .navbar button {
  border: 1px solid black;
  padding: 16px 48px;
  color: var(--Black, #232536);
  font-family: Sen;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 133.333% */
  margin: 13px 0 11px 0;
  cursor: pointer;
}
header nav .navbar button:hover {
  background-color: #ffd050;
  color: #000000;
  transition: 0.3s;
}

.hero {
  background-image: url(../../images/posts/post-1.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.hero .hero-content {
  padding: 128px 0 192px 0;
}
.hero .hero-content h6 {
  color: var(--Light, #fff);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 125% */
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-bottom: 24px;
}
.hero .hero-content h6 span {
  color: var(--Light, #fff);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 900;
  line-height: 20px;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.hero .hero-content h1 {
  max-width: 803px;
  width: 100%;
  color: var(--Light, #fff);
  font-family: Sen;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px; /* 114.286% */
  letter-spacing: -2px;
  margin-bottom: 24px;
}
.hero .hero-content h5 {
  color: var(--Light, #fff);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
  margin-bottom: 16px;
}
.hero .hero-content h5 span {
  color: var(--Yellow, #ffd050);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}
.hero .hero-content p {
  color: var(--Light, #fff);
  max-width: 599px;
  width: 100%;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
  margin-bottom: 48px;
}
.hero .hero-content div button {
  color: var(--Black, #232536);
  font-family: Sen;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 133.333% */
  background: var(--Yellow, #ffd050);
  padding: 16px 48px;
  border: 1px solid transparent;
}
.hero .hero-content div button:hover {
  background-color: #fff;
  color: #ffbb00;
  border: 1px solid #ffbb00;
}

.Cards {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}
.Cards .card {
  height: 700px;
  width: 450px;
}
.Cards .card:hover {
  transition: 0.4s;
  box-shadow: 3px 3px 15px 1px rgba(0, 0, 0, 0.45);
}
.Cards .card .iimg img {
  width: 100%;
  height: 317px;
  flex-shrink: 0;
}
.Cards .card .tt {
  margin-top: 15px;
  margin-left: 10px;
}
.Cards .card .tt span {
  color: var(--Dark-Grey, #4C4C4C);
  font-family: "Sen", sans-serif;
  /* Label 01 */
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
  font-size: 20px;
  padding: 10px;
}
.Cards .card .tt h3 {
  width: 405px;
  color: var(--Black, #232536);
  padding: 30px 10px;
  /* Heading H3 */
  font-family: "Sen", sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 142.857% */
  letter-spacing: -1px;
}
.Cards .card .tt p {
  color: var(--Black, #4C4C4C);
  font-family: "Sen", sans-serif;
  padding: 10px 10px;
  font-family: "Sen", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
  width: 405px;
}

hr {
  margin-top: 100px;
}

.category .category-content {
  margin-bottom: 72px;
}
.category .category-content h2 {
  color: var(--Black, #232536);
  text-align: center;
  font-family: Sen;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px; /* 133.333% */
  letter-spacing: -2px;
  margin: 69px 0 72px 0;
}
.category .category-content .category-cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.category .category-content .category-cards .c-card {
  width: 296px;
  height: 221px;
  border: 1px solid var(--Medium-grey, #cacaca);
  padding: 32px;
}
.category .category-content .category-cards .c-card .c-card-img {
  width: 48px;
  height: 48px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}
.category .category-content .category-cards .c-card h3 {
  color: var(--Black, #232536);
  font-family: Sen;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 142.857% */
  letter-spacing: -1px;
  padding: 16px 0 3px 0;
}
.category .category-content .category-cards .c-card p {
  color: var(--Medium-grey, #6d6e76);
  max-width: 232px;
  width: 100%;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
}
.category .category-content .category-cards .c-card:hover {
  background: var(--Yellow, #ffd050);
  transition: 0.3s;
  cursor: pointer;
  border-radius: 8px;
}

footer {
  background: var(--Black, #232536);
}
footer .footer-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 64px 0 54px 0;
}
footer .footer-content .footer-left p {
  color: var(--Light, #fff);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
  opacity: 0.7;
}
footer .footer-content .footer-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}
footer .footer-content .footer-right svg {
  fill: #6D6E76;
}
footer .footer-content .footer-right svg:hover {
  fill: #ffbb00;
  transition: 0.3s;
}

.navbarr {
  display: flex;
  width: 100%;
  height: 140px;
  background: var(--Black, #232536);
  box-shadow: #161414;
}

.all-posts {
  padding: 64px 0;
  font-family: sen;
}
.all-posts form {
  width: 100%;
  border-bottom: 1px solid rgba(109, 110, 118, 0.5019607843);
}
.all-posts form label {
  width: 100%;
}
.all-posts form label input {
  width: 100%;
  padding: 24px;
  font-size: 18px;
  outline: none;
  border: 1px solid rgba(109, 110, 118, 0.5019607843);
  border-radius: 2px;
}
.all-posts form h1 {
  font-size: 48px;
  line-height: 64px;
  padding: 32px 0;
  font-family: "Sen", sans-serif;
  color: #232536;
}
.all-posts .cards {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 64px;
}
.all-posts .cards .ccard {
  width: 100%;
  height: 350px;
  display: flex;
  align-items: flex-start;
  gap: 36px;
}
.all-posts .cards .ccard:hover {
  transition: 0.4s;
  box-shadow: 3px 3px 15px 1px rgba(0, 0, 0, 0.45);
}
.all-posts .cards .ccard_img {
  width: 545px;
  height: 100%;
}
.all-posts .cards .ccard_img img {
  width: 545px;
  height: 100%;
}
.all-posts .cards .ccard .rassm {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
.all-posts .cards .ccard .rassm span {
  color: #592EA9;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.all-posts .cards .ccard .rassm h2 {
  color: var(--Black, #232536);
  font-size: 36px;
}
.all-posts .cards .ccard .rassm p {
  font-size: 16px;
  color: #6D6E76;
}

header {
  background: var(--Black, #232536);
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 83px;
}
header nav .navbar ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}
header nav .navbar ul li a {
  color: var(--Light, #fff);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
  padding-bottom: 10px;
  border: 2px solid transparent;
}
header nav .navbar ul li a:hover {
  color: #ffbb00;
  transition: 0.3s;
  border-bottom: 2px solid #ffbb00;
  padding-bottom: 10px;
}
header nav .navbar button {
  border: 1px solid black;
  padding: 16px 48px;
  color: var(--Black, #232536);
  font-family: Sen;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 133.333% */
  margin: 13px 0 11px 0;
  cursor: pointer;
}
header nav .navbar button:hover {
  background-color: #ffd050;
  color: #000000;
  transition: 0.3s;
}

.card {
  margin-top: 50px;
  margin-bottom: 100px;
}
.card img {
  width: 100%;
}
.card_text {
  width: 100%;
  height: 700px;
  padding: 55px 296px;
}
.card_text h3 {
  display: flex;
  width: 286.359px;
  color: var(--Purple, #592EA9);
  /* Heading H3 */
  font-family: "Sen", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 142.857% */
  letter-spacing: -1px;
}
.card_text span {
  width: 245.875px;
  color: var(--Medium-grey, #6D6E76);
  /* Body 1 */
  font-family: "Sen", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
  padding: 20px 0;
}
.card_text h1 {
  color: var(--Black, #232536);
  margin-top: 60px;
  /* Heading H1 */
  font-family: "Sen", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px; /* 133.333% */
  letter-spacing: -2px;
  width: 843px;
}
.card_text h4 {
  width: 430px;
  color: var(--Black, #232536);
  padding: 40px 0;
  /* Heading H4 */
  font-family: Sen;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 133.333% */
}
.card_text p {
  color: var(--Medium-grey, #6D6E76);
  /* Body 1 */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
  margin-bottom: 20px;
}

* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}/*# sourceMappingURL=style.css.map */